<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/styles/style.css' />
  <title>Chat App</title>
</head>
<body>
  <div class="menu">
    <a href="profile">Your profile</a>
  </div>
  <br>
  <div id="message-container"></div>
  <form id="search" class="search" name="search" action="/chat" method="GET" onSubmit="submitSearch();">
    <img class="search-logo" src="/icons/unicorn.svg" alt="We are unicorns, united we stay!">
    <!-- <object type="image/svg+xml" data="/static/icons/unicorn.svg">
      We are unicorns, united we stay!
    </object> -->

<div class="search-bar">
      <input class="active"  type="text" name="search" placeholder="Search for unicorns">
      <button type="submit" class="nav-btn">
        <img class="nav-icon" src="/icons/search.ico" />
    </div>
    </button>
  </form>
  <% var flag = 0 %>
  <% if (user.previousChats) { %>
    <% for(var j = 0; j < user.previousChats.length; j++) { %>
      <% for(var i = 0; i < allChats.length; i++) { %>
        <% if(allChats[i].id == user.previousChats[j]) { %>
          <% for(var k = 0; k < allUsers.length; k++) { %>
            <% if(user.id == allChats[i].members[1]) { %>
              <% if(allUsers[k].id == allChats[i].members[0]) { %> <!-- a very stupid fix to a very stupid problem its not efficient at all. Too bad-->

                <form action="/chat/<%= user.previousChats[j] %>" method="get" class="prev-chats" onsubmit="submitForm(event);">
                  <button type="submit" class="nav-btn users-btn" >
                    <h3 class="chat-name"> <%= allUsers[k].username %> </h3>
                  </button>
                </form>
                <% flag = 1 %>
                <% break %>
              <% } %>
            <% } %>
            <% if(user.id != allChats[i].members[1]) { %>
              <% if(allUsers[k].id == allChats[i].members[1]) { %>

                <form action="/chat/<%= user.previousChats[j] %>" method="get" class="prev-chats" onsubmit="submitForm(event);">
                  <button type="submit" class="nav-btn users-btn" >
                    <h3 class="chat-name"> <%= allUsers[k].username %> </h3>
                  </button>
                </form>
                <% flag = 1 %>
                <% break %>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      <% if(flag) { flag = 0; break; }} %>
    <% i = 0; } %>
  <% } %>
  <% if (user.previousChats == null) { %>
    <h2 class="alert"> You have not talked to other unicorns yet.</h2>
    <h3 class="alert"> It is time to start a new chat!</h2>
  <% } %>

<script type="text/javascript">
  var form = document.getElementById('search')
  form.addEventListener("submit", event => {
    event.preventDefault();
  });

  function submitSearch(){
      form.submit();
  }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/scripts/chat.js"></script>
<script type="text/javascript" src='/scripts/script.js'></script>

</body>
</html>
