<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='/styles/style.css' />
  <title>Login</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  <div class="page">
    <form id="login" class="form" action="/login" method="post" onsubmit="submitForm();">
      <h1>Login</h1>
      <input type="email" name="logemail" placeholder="Email"/>
      </br>
      <input name="logpassword" type="password" placeholder="Password"/>
      </br>
      <input type="submit">
    </form>
  </div>
  <script type="text/javascript">
      var form = document.getElementById('login')
      function submitForm(){
          form.submit()
      }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/scripts/chat.js"></script>
  <script type="text/javascript" src='/scripts/script.js'></script>
</body>
</html>
