<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/style.css">
  <title>Store</title>
</head>
<body>
    <div class="page">
        <div class="form">
            <h1>Register</h1>
            <form action="/register-check" method="post" class="register">
                <input type="email" name="email" placeholder="Email"/>
                </br>
                <input name="password" type="password" placeholder="Password"/>
                </br>
                <input name="name" placeholder="Name"/>
                </br>
                <input name="adress" placeholder="Adress"/>
                </br>
                <input name="phone" type="tel" placeholder="Phone Number"/>
                </br>
                <input type="submit"></input>
            </form>
        </div>
    </div>
</body>
</html>
