:root {
  --main-bg-color: AliceBlue;
  --form-color: rgb(101, 157, 189, 0.6);
  --supporting-color: rgb(101, 157, 200, 0.9);
  --onclick-color: rgb(77, 141, 179);
  --focus-color: rgb(69, 127, 161);
}

body{
    font-style: Verdana;
    display: flexbox;
    background-color: var(--main-bg-color);
    justify-content: center;
}

.form {
  background-color:var(--form-color);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 100px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

input, select{
    outline: none;
  }

select, input{
    width: 66.6%;
    margin: 10px auto 10px;
    padding: 5px;
    border: 2px solid var(--supporting-color);
    border-radius: 50px;
    resize: vertical;
}

select:focus, input:focus{
    border: 2px solid var(--focus-color);
}

input:focus{
    color: var(--form-color);
}


input[type=submit] {
    background-color: var(--supporting-color);
    color: black;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    resize: vertical;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

input[type=submit]:hover{
    background-color: var(--onclick-color);
}
.button{
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
    padding: 1em 1.5em;
    box-shadow: 0 5px 0 #659dbd;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #659dbd;
}

@media all and (max-width: 500px) {
    .links, .footer {
      flex-direction: column;
    }
  }

h1 {
  margin-top: 30px;
  margin-bottom: 40px;
}

p {
  font-size: 15px;
}